<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--Font awesome cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e8e6c63b94.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <h1><i class="fa-solid fa-address-book"></i><%= title %></h1>
  
  <div class="contact-list">
    <ul>
      <% for( let i of contact_list){ %>
        <li>
          <div class="contact-list-details">
            <p><%= i.name %></p>
            <p><%= i.phone %></p>
          </div>
          <div class="delete-contact">
            <a href="/delete-contact/?phone=<%= i.phone %>">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </div>
        </li>
        
      <% } %>
    </ul>
  </div>

  <form action="/create-contact" method = "post" class="add-contacts">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="number" name="phone" placeholder="Enter phone" required>

    <button type="submit">Add</button>

  </form>

  <script src="/js/home.js"></script>
</body>
</html>